@custom-selector :--isHorizontal .isTop, .isBottom;
@custom-selector :--isVertical .isRight, .isLeft;

.group {
  --tick-line-color: var(--color-bg-border);
  --tick-line-size: 4px;
  --tick-line-margin: var(--space-2xs);

  display: flex;

  box-sizing: border-box;

  &:--isHorizontal {
    width: 100%;
  }

  &:--isVertical {
    flex-direction: column;

    height: 100%;
  }
}

.tick {
  z-index: 99999;

  display: flex;
  justify-content: center;

  &:--isHorizontal {
    flex-direction: column;

    width: 0;
  }

  &:--isVertical {
    height: 0;
  }

  &.isRight {
    justify-content: flex-start;

    text-align: left;
  }

  &.isLeft {
    justify-content: flex-end;

    text-align: right;
  }
}

.line {
  background-color: var(--color-bg-border);

  :--isHorizontal & {
    width: 1px;
    height: var(--tick-line-size);
  }

  :--isVertical & {
    width: var(--tick-line-size);
    height: 1px;
  }

  .isTop &,
  .isLeft & {
    order: 1;
  }

  .isBottom &,
  .isRight & {
    order: -1;
  }

  .isTop & {
    margin-top: var(--tick-line-margin);
  }

  .isBottom & {
    margin-bottom: var(--tick-line-margin);
  }

  .isRight & {
    margin-right: var(--tick-line-margin);
  }

  .isLeft & {
    margin-left: var(--tick-line-margin);
  }
}

.label {
  display: flex;

  &:--isHorizontal {
    overflow: hidden;
    justify-content: center;

    max-height: 20%;
    padding: var(--space-xs) 0;

    word-break: break-word;
  }

  &.isLeft {
    justify-content: flex-end;

    max-width: 160px;
  }

  &.isRight {
    max-width: 160px;
  }

  &.isXAxisLabelsSlanted {
    position: relative;
  }
}

.text {
  &:not(.isHorizontal) {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  :--isVertical.label & {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &.isDisabled {
    color: var(--color-typo-ghost);
  }

  .isXAxisLabelsSlanted.label & {
    position: absolute;
    top: 0;
    right: 50%;

    overflow: hidden;

    min-height: 15px;

    white-space: pre;

    transform: rotate(-55.81deg);
    transform-origin: right center;
  }
}
