.cw--Ticks {
  &-Group {
    display: flex;

    box-sizing: border-box;

    &_position {
      &_top,
      &_bottom {
        width: 100%;
      }

      &_right,
      &_left {
        flex-direction: column;

        height: 100%;
      }
    }
  }

  &-Tick {
    z-index: 99999;

    display: flex;
    justify-content: center;

    &_position {
      &_top,
      &_bottom {
        flex-direction: column;

        width: 0;
      }

      &_right,
      &_left {
        height: 0;
      }

      &_right {
        justify-content: flex-start;

        text-align: left;
      }

      &_left {
        justify-content: flex-end;

        text-align: right;
      }

      &_top .cw--Ticks-Line,
      &_bottom .cw--Ticks-Line {
        width: 1px;
        height: 4px;
      }

      &_right .cw--Ticks-Line,
      &_left .cw--Ticks-Line {
        width: 4px;
        height: 1px;
      }

      &_top .cw--Ticks-Line,
      &_left .cw--Ticks-Line {
        order: 1;
      }

      &_bottom .cw--Ticks-Line,
      &_right .cw--Ticks-Line {
        order: -1;
      }

      &_top .cw--Ticks-Line {
        margin-top: var(var(--space-2xs));
      }

      &_bottom .cw--Ticks-Line {
        margin-bottom: var(var(--space-2xs));
      }

      &_right .cw--Ticks-Line {
        margin-right: var(var(--space-2xs));
      }

      &_left .cw--Ticks-Line {
        margin-left: var(var(--space-2xs));
      }

      &_right.cw--Ticks-Label,
      &_left.cw--Ticks-Label .cw--Ticks-Text {
        display: -webkit-box;
        -webkit-box-orient: vertical;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &-Line {
    margin: var(--space-2xs);

    color: var(--color-bg-border);
    background-color: var(--color-bg-border);
    size: 4px;
  }

  &-Label {
    display: flex;

    &_position {
      &_top,
      &_bottom {
        overflow: hidden;
        justify-content: center;

        max-height: 20%;
        padding: var(--space-xs) 0;

        word-break: break-word;
      }

      &_left {
        justify-content: flex-end;

        max-width: 160px;
      }

      &_right {
        max-width: 160px;
      }
    }

    &_isXAxisLabelsSlanted {
      position: relative;

      .cw--Ticks-Text {
        position: absolute;
        top: 0;
        right: 50%;

        overflow: hidden;

        min-height: 15px;

        white-space: pre;

        transform: rotate(-55.81deg);
        transform-origin: right center;
      }
    }
  }

  &-Text {
    &:not(&_isHorizontal) {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_isDisabled {
      color: var(--color-typo-ghost);
    }
  }
}
