.cw--CoreBarChartSection {
  &-Sections {
    --round-radius: 2px;
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    white-space: nowrap;

    flex-shrink: 1;

    &_isActive {
      opacity: 1;
    }

    &_columnOverflow {
      &_verticalReverse {
        min-height: 105%;
      }

      &_horizontal {
        min-width: 105%;
      }

      &_horizontalReverse {
        min-width: 105%;
      }

      &_vertical {
        min-height: 105%;
      }
    }

    &_direction {
      &_horizontal {
        .cw--CoreBarChartSection-Overflow {
          top: 50%;
          right: 0;
          padding-bottom: 1px;
          transform: translate(0%, -50%) rotate(90deg);
        }

        .cw--CoreBarChartSection-Label {
          top: 50%;
          right: 0;
          padding-left: var(--space-xs);
          transform: translate(100%, -50%);
        }
      }

      &_horizontalReverse {
        .cw--CoreBarChartSection-Overflow {
          top: 50%;
          left: 0;
          transform: translate(0%, -50%) rotate(-90deg);
        }

        .cw--CoreBarChartSection-Label {
          top: 50%;
          left: 0;
          padding-right: var(--space-xs);
          transform: translate(-100%, -50%);
        }
      }

      &_vertical {
        .cw--CoreBarChartSection-Overflow {
          top: 0;
          left: 50%;
          padding-bottom: var(--space-xs);
          transform: translate(-50%, -270%) rotate(0deg);
        }

        .cw--CoreBarChartSection-Label {
          top: 0;
          left: 50%;
          padding-bottom: var(--space-xs);
          transform: translate(-50%, -100%);
        }
      }

      &_verticalReverse {
        .cw--CoreBarChartSection-Overflow {
          left: 50%;
          bottom: 0;
          padding-top: var(--space-xs);
          transform: translate(-50%, 290%) rotate(180deg);
        }

        .cw--CoreBarChartSection-Label {
          left: 50%;
          bottom: 0;
          padding-top: var(--space-xs);
          transform: translate(-50%, 100%);
        }
      }
    }
  }

  &-Label,
  &-Overflow,
  &-Shadow {
    position: absolute;
  }
}
