.section {
  --round-radius: 2px;

  position: relative;

  flex-shrink: 1;

  width: 100%;
  height: 100%;

  opacity: 0.3;

  &.isActive {
    opacity: 1;
  }

  &.isHorizontal {
    min-width: 5px;
  }

  &:not(.isHorizontal) {
    min-height: 5px;
  }
}

.label {
  position: absolute;
  z-index: 1;

  .section.isHorizontal:not(.isReversed) & {
    top: 50%;
    right: 0;

    padding-left: var(--space-2xs);

    transform: translate(100%, -50%);
  }

  .section.isHorizontal.isReversed & {
    top: 50%;
    left: 0;

    padding-right: var(--space-2xs);

    transform: translate(-100%, -50%);
  }

  .section:not(.isHorizontal):not(.isReversed) & {
    top: 0;
    left: 50%;

    padding-bottom: var(--space-3xs);

    transform: translate(-50%, -100%);
  }

  .section:not(.isHorizontal).isReversed & {
    bottom: 0;
    left: 50%;

    padding-top: var(--space-2xs);

    transform: translate(-50%, 100%);
  }
}

.overflow {
  position: absolute;
  z-index: 999999;

  .section.isHorizontal:not(.isReversed) & {
    right: 0;
  }

  .section.isHorizontal.isReversed & {
    left: 0;
  }

  .section:not(.isHorizontal):not(.isReversed) & {
    top: 0;
    left: 50%;
  }

  .section:not(.isHorizontal).isReversed & {
    bottom: 0;
    left: 50%;
  }
}
