.cw--StatsTitle {
  display: table;

  &-Cell {
    display: table-cell;
  }

  &-Icon {
    display: inline-block;
    line-height: 0;
    vertical-align: middle;

    &_size_2xs {
      width: var(--graphics-size-xs);
      height: var(--graphics-size-xs);
      margin-right: var(--space-3xs);
    }

    &_size_xs {
      margin-right: var(--space-2xs);
    }

    &_size_xs,
    &_size_s {
      width: var(--graphics-size-s);
      height: var(--graphics-size-s);
    }

    &_size_m,
    &_size_l {
      width: var(--graphics-size-m);
      height: var(--graphics-size-m);
    }

    &_size_s,
    &_size_m,
    &_size_l {
      margin-right: var(--space-xs);
    }
  }
}
