.cw--Ticks {
  &-Group {
    display: flex;

    box-sizing: border-box;

    &_position {
      &_top,
      &_bottom {
        width: 100%;
        padding: var(--space-xs) 0 0 0;
      }

      &_right,
      &_left {
        flex-direction: column;

        height: 100%;
        padding: 0 var(--space-xs) 0 0;
      }
    }
  }

  &-Tick {
    z-index: 99999;

    display: flex;
    justify-content: center;

    &_position {
      &_top,
      &_bottom {
        flex-direction: column;

        width: 0;
      }

      &_right,
      &_left {
        height: 0;
      }

      &_right {
        justify-content: flex-start;

        text-align: left;
      }

      &_left {
        justify-content: flex-end;

        text-align: right;
      }

      &_right.cw--Ticks-Label,
      &_left.cw--Ticks-Label .cw--Ticks-Text {
        display: -webkit-box;
        -webkit-box-orient: vertical;

        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }

  &-Label {
    display: flex;

    &_position {
      &_top,
      &_bottom {
        overflow: hidden;
        justify-content: center;

        max-height: 20%;
        padding: var(--space-xs) 0;

        word-break: break-word;
      }

      &_left {
        justify-content: flex-end;

        max-width: 160px;
        padding: 0 var(--space-xs) 0 0;
      }

      &_right {
        max-width: 160px;
      }
    }

    &_xAxisLabelsSlanted {
      &_left {
        position: relative;

        .cw--Ticks-Text {
          position: absolute;
          top: 50%;

          overflow: hidden;

          min-height: 15px;

          white-space: pre;

          transform: rotate(-40deg);
          transform-origin: right center;
        }
      }

      &_bottom {
        position: relative;

        .cw--Ticks-Text {
          position: absolute;

          overflow: hidden;

          min-height: 15px;
          padding: var(--space-s) 0 0 0;

          white-space: pre;

          transform: rotate(-40deg);
        }
      }
    }
  }

  &-Text {
    white-space: nowrap;

    &:not(&_isHorizontal) {
      overflow: hidden;

      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &_isDisabled {
      color: var(--color-typo-ghost);
    }
  }
}
