.cw--Section {
  &-Sections {
    --round-radius: 2px;

    position: relative;

    flex-shrink: 1;

    width: 100%;
    height: 100%;

    opacity: 0.3;

    &_isActive {
      opacity: 1;
    }

    &_horizontal {
      min-width: 5px;

      &_vertical {
        min-height: 5px;
      }
    }

    &_columnOverflow {
      &_verticalReverse {
        min-height: 105%;
      }

      &_horizontal {
        min-width: 105%;
      }

      &_horizontalReverse {
        min-width: 105%;
      }

      &_vertical {
        min-height: 105%;
      }
    }

    &_direction {
      &_horizontal {
        .cw--Section-Overflow {
          top: 40%;
          right: 0;
        }

        .cw--Section-Label {
          top: 50%;
          right: 0;

          padding-left: var(--space-2xs);

          transform: translate(100%, -50%);
        }
      }

      &_horizontalReverse {
        .cw--Section-Overflow {
          left: 0;
        }

        .cw--Section-Label {
          top: 50%;
          left: 0;

          padding-right: var(--space-2xs);

          transform: translate(-100%, -50%);
        }
      }

      &_vertical {
        .cw--Section-Overflow {
          top: 0;
          left: 50%;
        }

        .cw--Section-Label {
          top: 0;
          left: 50%;

          padding-bottom: var(--space-3xs);

          transform: translate(-50%, -100%);
        }
      }

      &_verticalReverse {
        .cw--Section-Overflow {
          bottom: 0;
          left: 50%;
        }

        .cw--Section-Label {
          bottom: 0;
          left: 50%;

          padding-top: var(--space-2xs);

          transform: translate(-50%, 100%);
        }
      }
    }
  }

  &-Label {
    position: absolute;
    z-index: 1;
  }

  &-Overflow {
    position: absolute;
    z-index: 999999;
  }
}
