.cw--CoreDonutChart {
  position: relative;

  overflow: hidden;

  width: 100%;
  height: 100%;

  &-Text {
    position: absolute;

    &_half_none {
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }

    &_half_top {
      top: 0;
    }

    &_half_right {
      right: 0;
    }

    &_half_bottom {
      bottom: 0;
    }

    &_half_left {
      left: 0;
    }

    &_half_top,
    &_half_bottom {
      left: 50%;

      transform: translateX(-50%);
    }

    &_half_right,
    &_half_left {
      top: 50%;

      transform: translateY(-50%);
    }
  }

  &-Graph {
    position: absolute;

    &:not(&_half_bottom) {
      top: 0;
    }

    &:not(&_half_right) {
      left: 0;
    }

    &_half_right {
      right: 0;
    }

    &_half_bottom {
      bottom: 0;
    }

    &_half_right,
    &_half_left {
      width: auto;
      height: 100%;
    }

    &_half_top,
    &_half_bottom {
      width: 100%;
      height: auto;
    }
  }
}
