.main {
  stroke-width: 1;
  stroke-dasharray: 5 3;
}

.text {
  font-size: 12px;
  font-weight: 100;
  stroke-width: 1;
  stroke: rgba(246, 251, 253, 0.6);

  &.isHorizontal {
    text-anchor: middle;
    dominant-baseline: auto;
  }

  &:not(.isHorizontal) {
    text-anchor: start;
    dominant-baseline: central;
  }
}
