.cw--Threshold {
  &-Main {
    stroke-width: 1;
    stroke-dasharray: 5 3;
  }

  &-Text {
    font-size: var(--size-text-xs);
    font-weight: 400;
    fill: var(--color-bg-warning);
    text-anchor: middle;
    dominant-baseline: auto;

    &_horizontal {
      &_vertical {
        text-anchor: start;
        dominant-baseline: central;
      }
    }
  }
}
