.cw--HoverLines {
  &-Item {
    stroke: transparent;
    stroke-width: 2;
    stroke-linecap: butt;
    cursor: pointer;

    &_isActive {
      stroke: var(--color-bg-soft);
    }

    &_isHoverable {
      /* Задаётся через js */
      stroke-width: var(--hover-width);
    }
  }
}
