.scroll {
  overflow-x: auto;
  overflow-y: hidden;

  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  margin-bottom: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
}

.withVerticalScroll {
  & .chart {
    overflow-y: auto;
  }

  & .bottomTicks {
    padding-top: var(--space-m);
  }
}

.chart {
  position: relative;

  display: grid;
  flex-grow: 1;

  box-sizing: border-box;

  &.isHorizontal {
    padding-right: var(--space-m);
  }
}

.svg {
  position: absolute;

  overflow: visible;
}

.topTicks,
.rightTicks,
.bottomTicks,
.leftTicks {
  position: relative;
}

.leftTicks,
.rightTicks {
  max-width: 160px;
}

.topTicks {
  grid-area: topTicks;
}

.rightTicks {
  grid-area: rightTicks;
}

.bottomTicks {
  grid-area: bottomTicks;
}

.leftTicks {
  grid-area: leftTicks;

  justify-self: end;
}

.topLeftUnit {
  grid-area: topLeft;

  margin-bottom: var(--space-xs);

  text-align: right;
}

.bottomUnit {
  grid-area: bottomUnit;

  margin-top: var(--space-2xs);

  text-align: center;
}

.groupWrapper {
  position: relative;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
