.cw--Stats {
  &_size_2xs {
    --gap: var(--space-2xs);

    font-size: var(--size-text-xl);
  }

  &_size_xs {
    --gap: var(--space-xs);

    font-size: var(--size-text-3xl);
  }

  &_size_s {
    --gap: var(--space-s);

    font-size: var(--size-text-4xl);
  }

  &_size_m {
    --gap: var(--space-m);

    font-size: var(--size-text-5xl);
  }

  &_size_l {
    --gap: var(--space-l);

    font-size: var(--size-text-6xl);
  }

  &_layout_default &-Rate,
  &_layout_reversed &-Unit {
    margin-left: var(--gap);
  }

  &-Main {
    display: flex;
    align-items: baseline;

    margin: var(--gap) 0;
  }

  &-Value {
    font-size: inherit;

    white-space: nowrap;
  }

  &-Value,
  &-Rate {
    &_status_success {
      color: var(--color-typo-success);
    }

    &_status_warning {
      color: var(--color-typo-warning);
    }

    &_status_error {
      color: var(--color-typo-alert);
    }

    &_status_system {
      color: var(--color-typo-system);
    }
  }
}
