.cw--CoreBarChart {
  &-Scroll {
    overflow-x: auto;
    overflow-y: hidden;

    width: 100%;
    height: 100%;
    padding: var(--space-m) 0;
  }

  &-Wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    margin-bottom: var(--space-m);
  }

  &-Main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;

    &_withVerticalScroll {
      & .chart {
        overflow-y: auto;
      }

      & .bottomTicks {
        padding-top: var(--space-m);
      }
    }
  }

  &-Chart {
    position: relative;

    display: grid;
    flex-grow: 1;

    box-sizing: border-box;

    &_isHorizontal {
      padding-right: var(--space-m);
    }

    &_paddingThreshold {
      &_top {
        padding: 50px 0 0 0;
      }

      &_right {
        padding: 0 50px 0 0;
      }

      &_none {
        padding: 0;
      }
    }
  }

  &-Svg {
    position: absolute;

    overflow: visible;
  }

  &-AxisTicks {
    &_position {
      &_top,
      &_right,
      &_bottom,
      &_left {
        position: relative;
      }

      &_left,
      &_right {
        max-width: 160px;
      }

      &_top {
        grid-area: topTicks;
      }

      &_right {
        grid-area: rightTicks;
      }

      &_bottom {
        grid-area: bottomTicks;
      }

      &_left {
        grid-area: leftTicks;

        justify-self: end;
      }
    }
  }

  &-Unit {
    &_position {
      &_bottom {
        grid-area: bottomUnit;

        margin-top: var(--space-2xs);

        text-align: center;
      }

      &_topLeft {
        grid-area: topLeft;

        margin-bottom: var(--space-xs);

        text-align: right;
      }
    }
  }

  &-GroupWrapper {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
}
