@custom-selector :--tick-line :global(.tick) > line;

.cw--Frame {
  pointer-events: none;

  &-Grid {
    color: var(--color-bg-border);

    & > .domain {
      stroke: none;
    }

    & > .tick {
      stroke-dasharray: 1, 3;
    }
  }

  &-Labels {
    font-size: var(--size-text-xs);

    color: var(--color-typo-secondary);

    & > .domain {
      stroke: none;
    }

    & > .tick > line {
      display: none;
    }

    &_isAxisY.Unit {
      fill: currentColor;

      transform: translateY(calc(-1 * var(--space-m)));
    }
  }

  &-AxisLine {
    stroke-dasharray: none;
  }

  &_isYLabelsHidden {
    opacity: 0;
  }
}
