.cw--LinearChart {
  /* Используется в осях и зуме */
  --axis-tick-offset: var(--space-xs);

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  min-height: 90px;

  &-Legend {
    display: flex;
    justify-content: flex-end;

    &_top {
      order: 0;
    }

    &_bottom {
      order: 1;
    }

    &_left {
      justify-content: flex-start;
    }

    &_center {
      justify-content: center;
    }

    &_right {
      justify-content: flex-end;
    }
  }

  &-Graph {
    position: relative;

    flex: 1;
  }

  &-Svg {
    position: absolute;
    z-index: 10;
    right: 0;

    overflow: visible;

    pointer-events: all;
  }

  &-Wrapper {
    z-index: 99;

    overflow-y: hidden;

    &.Svg {
      position: absolute;
      z-index: 10;
      right: 0;

      overflow-x: auto;

      pointer-events: all;
    }

    &_isVisible.Svg {
      overflow: visible;
    }
  }

  &-Shadow {
    position: absolute;
    z-index: 11;

    height: var(--shadow-height);

    &_left {
      /* задаётся в js */
      left: var(--shadow-left-offset);

      width: var(--shadow-width);

      background: linear-gradient(90deg, rgba(var(--color-nums-shadow), 0.15), transparent);
    }

    &_right {
      right: 0;

      width: var(--shadow-width);

      background: linear-gradient(270deg, rgba(var(--color-nums-shadow), 0.15), transparent);
    }
  }
}
