.cw--TooltipContentForMultipleValues {
  &-Container {
    max-width: 400px;
  }

  &-Title {
    overflow: hidden;

    margin-bottom: var(--space-xs);

    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-Content {
    display: grid;

    grid-row-gap: var(--space-xs);
    grid-column-gap: var(--space-s);

    width: 100%;
    grid-template-columns: 1fr auto;
  }

  &-LegendItem {
    align-items: unset;

    &_isSingleColumn {
      grid-column: 2 span;
    }

    &_withPadding {
      padding-left: calc(var(--dot-size) + var(--space-xs));
    }

    &_withNoNames {
      .cw--LegendItem {
        &-Sign {
          margin-right: var(--space-2xs);
        }
      }
    }

    .cw--LegendItem {
      &-SignWrapper {
        line-height: unset;
      }

      &-Sign {
        margin-bottom: 0;
      }
    }
  }

  &-ItemValue {
    text-align: right;
  }
}
