.cw--LegendItem {
  --dot-size: 12px;

  display: inline-flex;
  align-items: baseline;

  &_size {
    &_xs,
    &_s {
      .cw--LegendItem-Sign_icon {
        &_dot {
          margin-bottom: -1px;
        }
      }
    }
  }

  &-SignWrapper {
    line-height: 0;

    &_custom {
      align-self: center;
    }
  }

  &-Sign,
  .Icon {
    display: inline-block;

    margin-right: var(--space-xs);

    &_icon {
      &_dot {
        width: var(--dot-size);
        height: var(--dot-size);

        vertical-align: baseline;

        border-radius: 100%;

        /* Задаются через js */
        background: var(--icon-color);
      }

      &_line {
        width: 20px;
        height: 2px;

        vertical-align: middle;

        /* Задаётся через js */
        background: var(--icon-color);
      }

      &_lineBold {
        width: 20px;
        height: 4px;

        vertical-align: middle;

        /* Задаётся через js */
        background: var(--icon-color);
      }

      &_gap {
        width: var(--dot-size);
      }
    }
  }

  &-Text {
    &_isSeparating {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      overflow: hidden;
    }
  }
}
