.cw--LegendItem {
  &-Main {
    display: inline-flex;

    &_position {
      &_top {
        flex-direction: column;

        .cw--LegendItem-Sign {
          margin-bottom: var(--space-2xs);
        }
      }

      &_left {
        align-items: baseline;

        .cw--LegendItem-Sign {
          margin-right: var(--space-xs);

          &_type_line {
            vertical-align: middle;
          }
        }
      }
    }

    &_fontSize {
      &_xs,
      &_s {
        .cw--LegendItem-Sign_type {
          &_icon,
          &_dot {
            margin-bottom: -1px;
          }
        }
      }
    }
  }

  &-SignWrapper {
    line-height: 0;
  }

  &-Sign {
    display: inline-block;

    &_type {
      &_icon {
        margin-bottom: -3px;

        vertical-align: baseline;
      }

      &_dot {
        vertical-align: baseline;

        border-radius: 100%;
      }

      &_line {
        width: 20px;
        height: 2px;
      }
    }

    &_isBold {
      height: 4px;
    }
  }

  &-Text {
    display: inline-block;

    &_isSeparating {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;

      overflow: hidden;
    }
  }
}
