.cw--Threshold {
  &-Wrapper {
    pointer-events: none;
  }

  &-Line {
    stroke-dasharray: 5;
  }

  &-Fill {
    fill: currentColor;

    opacity: 0.05;
  }

  &-Label {
    font-size: var(--size-text-xs);

    fill: currentColor;

    transform: translate(var(--axis-tick-offset), calc(var(--size-text-xs) / 3));
  }
}
